* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  font-family: 'Inter', sans-serif;
  }

  body {
    align-self: center;
  }

  .mangaContainer {
    justify-content: center;
    padding: 1.25rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }